{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <h2 class="center">{{page_title}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12">

                    <p>I created this website to help hungry people who are looking to eat healthy and help decide what to eat.</p>
                    <p>I made it so users who would be ready to cook in the kitchen would have the information they needed and nothing else. If you would like to check out more recipes I got them from this great book <a href="https://www.amazon.com/Ultimate-Bodybuilding-Cookbook-High-Impact-Stronger/dp/162315765X">The Ultimate Bodybuilding Cookbook</a>.
                        I highly recommend it for tasty healthy recipes focused on health.</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
