{% extends 'base.html' %} {% block content %}
<h2 class="center">{{page_title}}</h2>
<div class="center">
    <h4>Sort by:</h4>

    <div class="row">
        <!--Filter by Alphbetical-->
        <a class="waves-effect waves-light btn-small" href="{{ url_for('get_recipes_time')}}"><i class="material-icons left">access_time</i>Cook Time</a>
        <!--Filter by Calories-->
        <a class="waves-effect waves-light btn-small" href="{{ url_for('get_recipes_calories')}}"><i class="material-icons left">favorite</i>Calories</a>
    </div>

    <div class="row">
        <!--Filter by # of cooked-->
        <a class="waves-effect waves-light btn-small" href="{{ url_for('get_recipes_popular')}}"><i class="material-icons left">restaurant</i>Popularity</a>
        <!--Clear filter-->
        <a class="waves-effect waves-light btn-small" href="{{ url_for('get_recipes')}}"><i class="material-icons left">clear_all</i>Clear</a>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% for recipe in recipes %}
            <div class="row featurette">
                <div class="col-md-6">
                    <!--Recipe Name-->
                    <h3><a href="{{ url_for('recipe_page', recipe_id=recipe._id)}}"> {{ recipe.recipe_name }}</a></h3>
                    <!--Recipe Description-->
                    <p><i>{{ recipe.recipe_description }}</i></p>
                    <!--Recipe Cooking Time-->
                    <p> <b>Cook Time</b>: {{recipe.cook_time_string}} </p>
                    <!--Recipe Calories-->
                    <p> <b>Calories</b>: {{recipe.calories}}</p>
                    <!--Recipe # of times cooked-->
                    <p> <b>Cooked</b>: {{recipe.cooked}}</p>
                </div>
                <div class="col-md-6">
                    <!--Recipe Image-->
                    <img class="featurette-image center img" src="{{ recipe.image }}" alt="Picture of {{ recipe.name }}">
                </div>
            </div>
            <hr class="featurette-divider"> {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
